In [4]:
import pandas as pd

In [94]:
df = pd.read_csv("joy3.csv")
df

,Unnamed: 0,date,timestamp,price,negative.score,neutral.score,polarity.score,positive.score,Price_Change
0,1,2021-04-23 16:00:00,1619193724430,0.234922,0.097115,0.759270,0.132424,0.143627,0.000000
1,2,2021-04-23 17:00:00,1619197367841,0.234924,0.060395,0.777588,0.207923,0.162016,0.000726
2,3,2021-04-23 18:00:00,1619201096169,0.234767,0.048865,0.813896,0.172264,0.137239,-0.066693
3,4,2021-04-23 19:00:00,1619204652909,0.233637,0.085391,0.772643,0.162419,0.141978,-0.481585
4,5,2021-04-23 20:00:00,1619208164134,0.236613,0.063727,0.780040,0.165547,0.156216,1.274095
...,...,...,...,...,...,...,...,...,...
149,159,2021-04-30 06:00:00,1619762696880,0.310521,0.099000,0.544000,-0.105350,0.357000,0.360169
150,163,2021-04-30 10:00:00,1619776844468,0.314468,0.000000,0.677500,0.595650,0.322500,1.271231
151,164,2021-04-30 11:00:00,1619780678684,0.312837,0.000000,1.000000,0.000000,0.000000,-0.518705
152,165,2021-04-30 12:00:00,1619784170084,0.311946,0.000000,1.000000,0.000000,0.000000,-0.284776
153,166,2021-04-30 13:00:00,1619788367444,0.312591,0.000000,0.603000,0.557400,0.397000,0.206684

In [95]:
df1 = df[['date', 'timestamp', 'price','polarity.score', 'negative.score', 'neutral.score', 'positive.score', 'Price_Change']]
df1

,date,timestamp,price,polarity.score,negative.score,neutral.score,positive.score,Price_Change
0,2021-04-23 16:00:00,1619193724430,0.234922,0.132424,0.097115,0.759270,0.143627,0.000000
1,2021-04-23 17:00:00,1619197367841,0.234924,0.207923,0.060395,0.777588,0.162016,0.000726
2,2021-04-23 18:00:00,1619201096169,0.234767,0.172264,0.048865,0.813896,0.137239,-0.066693
3,2021-04-23 19:00:00,1619204652909,0.233637,0.162419,0.085391,0.772643,0.141978,-0.481585
4,2021-04-23 20:00:00,1619208164134,0.236613,0.165547,0.063727,0.780040,0.156216,1.274095
...,...,...,...,...,...,...,...,...
149,2021-04-30 06:00:00,1619762696880,0.310521,-0.105350,0.099000,0.544000,0.357000,0.360169
150,2021-04-30 10:00:00,1619776844468,0.314468,0.595650,0.000000,0.677500,0.322500,1.271231
151,2021-04-30 11:00:00,1619780678684,0.312837,0.000000,0.000000,1.000000,0.000000,-0.518705
152,2021-04-30 12:00:00,1619784170084,0.311946,0.000000,0.000000,1.000000,0.000000,-0.284776
153,2021-04-30 13:00:00,1619788367444,0.312591,0.557400,0.000000,0.603000,0.397000,0.206684

In [96]:
df2 = pd.read_csv("joy4.csv")
df2

,Unnamed: 0,date,timestamp,price,negative.score,neutral.score,polarity.score,positive.score,Price_Change
0,78,2021-01-28 21:00:00,1611868132012,0.023684,0.039056,0.895628,0.066642,0.065320,0.000000
1,79,2021-01-28 22:00:00,1611871380997,0.023899,0.032131,0.885457,0.089601,0.082406,0.908123
2,80,2021-01-28 23:00:00,1611875977944,0.026210,0.040874,0.874469,0.076741,0.084655,9.670559
3,81,2021-01-29 00:00:00,1611879987632,0.037739,0.057668,0.860638,0.041322,0.081695,43.984901
4,82,2021-01-29 01:00:00,1611882331490,0.043576,0.054425,0.863880,0.050654,0.081691,15.467246
...,...,...,...,...,...,...,...,...,...
1878,2110,2021-04-23 11:00:00,1619175815683,0.242937,0.049547,0.794528,0.174419,0.155936,2.262596
1879,2111,2021-04-23 12:00:00,1619179585625,0.242920,0.050083,0.818008,0.159518,0.131917,-0.007070
1880,2112,2021-04-23 13:00:00,1619183258075,0.225021,0.055358,0.811477,0.149407,0.133161,-7.368193
1881,2113,2021-04-23 14:00:00,1619186630900,0.221084,0.057276,0.805559,0.151137,0.137154,-1.749505
1882,2114,2021-04-23 15:00:00,1619190293945,0.231577,0.083021,0.774416,0.157923,0.142553,4.745890

In [97]:
df3 = df2[['date', 'timestamp', 'price', 'polarity.score','negative.score', 'neutral.score', 'positive.score', 'Price_Change']]
df3

,date,timestamp,price,polarity.score,negative.score,neutral.score,positive.score,Price_Change
0,2021-01-28 21:00:00,1611868132012,0.023684,0.066642,0.039056,0.895628,0.065320,0.000000
1,2021-01-28 22:00:00,1611871380997,0.023899,0.089601,0.032131,0.885457,0.082406,0.908123
2,2021-01-28 23:00:00,1611875977944,0.026210,0.076741,0.040874,0.874469,0.084655,9.670559
3,2021-01-29 00:00:00,1611879987632,0.037739,0.041322,0.057668,0.860638,0.081695,43.984901
4,2021-01-29 01:00:00,1611882331490,0.043576,0.050654,0.054425,0.863880,0.081691,15.467246
...,...,...,...,...,...,...,...,...
1878,2021-04-23 11:00:00,1619175815683,0.242937,0.174419,0.049547,0.794528,0.155936,2.262596
1879,2021-04-23 12:00:00,1619179585625,0.242920,0.159518,0.050083,0.818008,0.131917,-0.007070
1880,2021-04-23 13:00:00,1619183258075,0.225021,0.149407,0.055358,0.811477,0.133161,-7.368193
1881,2021-04-23 14:00:00,1619186630900,0.221084,0.151137,0.057276,0.805559,0.137154,-1.749505
1882,2021-04-23 15:00:00,1619190293945,0.231577,0.157923,0.083021,0.774416,0.142553,4.745890

In [98]:
total_df = [df1, df3]

In [119]:
total_df2 = pd.concat(total_df, ignore_index=True)
total_df2_sort = total_df2.sort_values(by='date')

<h3>Price and Scores by Hour</h3>

In [100]:
total_df3= total_df2_sort[['timestamp', 'price']]

In [101]:
total_df4= total_df2_sort[['timestamp', 'polarity.score']]

In [102]:
total_df5= total_df2_sort[['timestamp', 'positive.score']]

In [103]:
total_df6= total_df2_sort[['timestamp', 'negative.score']]

In [104]:
total_df7= total_df2_sort[['timestamp', 'neutral.score']]

In [106]:
total_df8= total_df2_sort[['timestamp', 'Price_Change']]

<h3>Price and Scores by Hour Export</h3>

In [107]:
#extra week crypto data included
total_df3.to_json("json_xports_for_chart_render/doge_time_price.json", orient='values')

In [108]:
total_df4.to_json("json_xports_for_chart_render/doge_time_polarity.json", orient='values')

In [109]:
total_df5.to_json("json_xports_for_chart_render/doge_time_positive.json", orient='values')

In [110]:
total_df6.to_json("json_xports_for_chart_render/doge_time_negative.json", orient='values')

In [111]:
total_df7.to_json("json_xports_for_chart_render/doge_time_neutral.json", orient='values')

In [112]:
total_df8.to_json("json_xports_for_chart_render/doge_time_price_change.json", orient='values')

<h3>Price and Scores by Day</h3>

In [120]:
total_df2_sort['date'] = pd.to_datetime(total_df2_sort['date'])

In [121]:
total_df2_sort.index = total_df2_sort['date']

In [122]:
total_day_df = total_df2_sort.resample('D').mean()
total_day_df

,timestamp,price,polarity.score,negative.score,neutral.score,positive.score,Price_Change
date,,,,,,,
2021-01-28,1.611872e+12,0.024598,0.077661,0.037354,0.885185,0.077460,3.526227
2021-01-29,1.611921e+12,0.050816,0.066891,0.056313,0.853898,0.089790,4.102129
2021-01-30,1.612007e+12,0.033273,0.058738,0.081182,0.811344,0.107473,-1.558303
2021-01-31,1.612093e+12,0.031340,0.129479,0.067396,0.807921,0.124683,1.153641
2021-02-01,1.612180e+12,0.038554,0.172737,0.054767,0.817911,0.127324,-0.338304
...,...,...,...,...,...,...,...
2021-04-26,1.619437e+12,0.266180,0.179260,0.059478,0.797631,0.142889,0.319214
2021-04-27,1.619523e+12,0.271109,0.182569,0.053752,0.801626,0.144622,0.053318
2021-04-28,1.619610e+12,0.298030,0.130883,0.073052,0.790215,0.136716,0.741735
2021-04-29,1.619692e+12,0.311602,0.339390,0.030974,0.711513,0.257364,-0.194281
2021-04-30,1.619770e+12,0.311387,0.199100,0.058714,0.724929,0.216214,0.248555